language: java

matrix:
  include:
  - os: linux
    jdk: openjdk8
  - os: linux
    jdk: oraclejdk8
  allow_failures:
  - os: osx
    osx_image: xcode9.3
  - os: windows

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
sudo: false
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
script: ./gradlew
after_success:
  - unzip -c build/libs/am-*.jar META-INF/MANIFEST.MF
